openapi: 3.0.0
info:
  contact:
    name: Contact
    url: https://urldefense.com/v3/__https://bdcw.org/MetGENE/contact.php__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM84YcRBWF$ 
  description: 'The MetGENE REST service enables access to a variety of data (including
    reactions, metabolites and studies for a certain gene or list of genes) using
    HTTP requests. These requests may be carried out using a web browser or may be
    embedded in 3rd party applications or scripts to enable programmatic access. Most
    modern programming languages including PHP, Perl, Python, Java and Javascript
    have the capability to create HTTP request and interact with datasets such as
    this REST service.

    '
  license:
    name: Terms of Use
    url: https://urldefense.com/v3/__https://bdcw.org/MetGENE/termsofuse.php__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM8x6rXG5A$ 
  title: MetGENE REST API
  version: 1.0.0
servers:
- description: MetGENE
  url: https://urldefense.com/v3/__https://bdcw.org/MetGENE/rest__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM8_DomZzL$ 
paths:
  ? /metabolites/species/{species_id}/GeneIDType/{geneID_type}/GeneInfoStr/{gene_ID}/anatomy/{anatomy_name}/disease/{disease_name}/phenotype/{phenotype_name}/viewType/{vtf}
  : get:
      description: Fetch all the metabolites for a given species, gene or list of
        genes, anatomy or tissue type, disease and phenotype.
      parameters:
      - description: The unique species name or identifier  like hsa, Human, mmu,
          Mouse.
        example: hsa
        in: path
        name: species_id
        required: true
        schema:
          type: string
      - description: The unique Gene ID type like ENTREZID, SYMBOL, SYMBOL_OR_ALIAS,
          UNIPROT, ENSEMBL or REFSEQ
        example: SYMBOL
        in: path
        name: geneID_type
        required: true
        schema:
          type: string
      - description: The unigue gene identifier (e.g. 3098) in any one of the known
          formats (e.g. ENTREZID ) or double underscore separated list of identifiers
          (3098__6120)
        in: path
        name: gene_ID
        required: true
        schema:
          example: HK1
          type: string
      - description: The anatomy or tissue name (e.g. Blood, Lung, Liver)
        in: path
        name: anatomy_name
        required: true
        schema:
          example: Blood or NA (for unspecified)
          type: string
      - description: The disease name (e.g. Diabetes, Fatty liver disease)
        in: path
        name: disease_name
        required: true
        schema:
          example: Diabetes or NA (for unspecified)
          type: string
      - description: The phenotype name (e.g. BMI)
        in: path
        name: phenotype_name
        required: true
        schema:
          example: BMI or NA (for unspecified)
          type: string
      - description: Media type e.g. json or txt
        in: path
        name: vtf
        required: true
        schema:
          example: json or txt
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  Gene:
                    description: Entrez Gene ID
                    type: string
                  KEGG_COMPOUND_ID:
                    description: KEGG Compound IDs
                    type: string
                  KEGG_REACTION_ID:
                    description: KEGG Reaction IDs
                    type: string
                  METSTAT_LINK:
                    description: Link to metabolite statistics in Metabolomics Workbench
                    type: string
                  REFMET_NAME:
                    description: Metabolomics Workbench RefMet name
                    type: string
                type: object
            text/plain:
              schema:
                example: pong
                type: string
          description: Success
          x-responseValueType:
          - x-path: gene_id
            x-valueType: https://urldefense.com/v3/__https://identifiers.org/ncbigene__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM8xu4VF51$ 
          - x-path: KEGG_COMPOUND_ID
            x-valueType: https://urldefense.com/v3/__https://www.genome.jp/kegg/compound/__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM8ztYzK7v$ 
          - x-path: REFMET_NAME
            x-valueType: https://www.metabolomicsworkbench.org/databases/refmet/index.php
          - x-path: KEGG_REACTION_ID
            x-valueType: https://urldefense.com/v3/__https://www.genome.jp/kegg/reaction/__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM8-5OZFfd$ 
  ? /reactions/species/{species_id}/GeneIDType/{geneID_type}/GeneInfoStr/{gene_ID}/anatomy/NA/disease/NA/phenotype/NA/viewType/{vtf}
  : get:
      description: Fetch all the reactions for a given species, gene or list of genes.
        Anatomy, disease and phenotype inputs are not needed as reactions are not
        specific for these.
      parameters:
      - description: The unique species name or identifier
        example: hsa
        in: path
        name: species_id
        required: true
        schema:
          type: string
      - description: The unique Gene ID type like ENTREZID, SYMBOL, SYMBOL_OR_ALIAS,
          UNIPROT, ENSEMBL or REFSEQ
        example: SYMBOL
        in: path
        name: geneID_type
        required: true
        schema:
          type: string
      - description: The unigue gene identifier in any one of the known formats or
          double tab separated list of identifiers
        in: path
        name: gene_ID
        required: true
        schema:
          example: HK1
          type: string
      - description: Media type e.g. json or txt
        in: path
        name: vtf
        required: true
        schema:
          example: json or txt
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  Gene:
                    description: Entrez Gene ID
                    type: string
                  KEGG_REACTION_ID:
                    description: KEGG Reaction IDs
                    type: string
                  KEGG_REACTION_NAME:
                    description: Verbose KEGG reaction name
                    type: string
                  KEGG_REACTION_EQN:
                    description: KEGG Reaction Equation
                    type: string
                type: object
            text/plain:
              schema:
                example: pong
                type: string
          description: Success
          x-responseValueType:
          - x-path: gene_id
            x-valueType: https://urldefense.com/v3/__https://identifiers.org/ncbigene__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM8xu4VF51$ 
          - x-path: KEGG_REACTION_ID
            x-valueType: https://urldefense.com/v3/__https://www.genome.jp/kegg/reaction/__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM8-5OZFfd$ 
          - x-path: KEGG_REACTION_NAME
            x-valueType: https://urldefense.com/v3/__https://www.genome.jp/kegg/reaction/__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM8-5OZFfd$ 
  ? /studies/species/{species_id}/GeneIDType/{geneID_type}/GeneInfoStr/{gene_ID}/anatomy/{anatomy_name}/disease/{disease_name}/phenotype/{phenotype_name}/viewType/{vtf}
  : get:
      description: Fetch all the studies in the Metabolomics Workbench for a given
        species, gene or list of genes, anatomy or tissue type, disease and phenotype.
      parameters:
      - description: The unique species name or identifier  like hsa, Human, mmu,
          Mouse.
        example: hsa
        in: path
        name: species_id
        required: true
        schema:
          type: string
      - description: The unique Gene ID type like ENTREZID, SYMBOL, SYMBOL_OR_ALIAS,
          UNIPROT, ENSEMBL or REFSEQ
        example: SYMBOL
        in: path
        name: geneID_type
        required: true
        schema:
          type: string
      - description: The unigue gene identifier (e.g. 3098) in any one of the known
          formats (e.g. ENTREZID ) or double tab separated list of identifiers (3098__6120)
        in: path
        name: gene_ID
        required: true
        schema:
          example: HK1
          type: string
      - description: The anatomy or tissue name (e.g. Blood, Lung, Liver)
        in: path
        name: anatomy_name
        required: true
        schema:
          example: Blood or NA (for unspecified)
          type: string
      - description: The disease name (e.g. Diabetes, Fatty liver disease)
        in: path
        name: disease_name
        required: true
        schema:
          example: Diabetes or NA (for unspecified)
          type: string
      - description: The phenotype name (e.g. BMI)
        in: path
        name: phenotype_name
        required: true
        schema:
          example: BMI or NA (for unspecified)
          type: string
      - description: Media type e.g. json or txt
        in: path
        name: vtf
        required: true
        schema:
          example: json or txt
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  KEGG_COMPOUND_ID:
                    description: KEGG Compound IDs
                    type: string
                  REFMET_NAME:
                    description: Metabolomics Workbench unique Refmet name
                    type: string
                  STUDY_ID:
                    description: A unique identifier for the study
                    type: string
                type: object
            text/plain:
              schema:
                example: pong
                type: string
          description: Success
          x-responseValueType:
          - x-path: KEGG_COMPOUND_ID
            x-valueType: https://urldefense.com/v3/__https://www.genome.jp/kegg/compound/__;!!Mih3wA!Gdu95cwvC9puMS-LhZ8yrniS8ziREP7_Qg4LQue6QUOfBdczwLuir-ElbpLnt-XFkZ59IJLanL21awdM8ztYzK7v$ 
          - x-path: REFMET_NAME
            x-valueType: https://www.metabolomicsworkbench.org/databases/refmet/index.php
